@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

*{
    margin: 0;
    padding: 0;
}
header{
    display:flex;
    height:10vh;
    font-family: "Anta", sans-serif;
}
header h1,i, ul li,a{
    text-decoration: none;
    list-style-type:none;
    color:#ffff;
}
header .logo{
    position: relative;
    top: 10px;
    left: 10px;
}
header ul{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:4rem;
    padding:0;
    margin: 0;
}
#actionBtn{
    position: absolute;
    right:20;
    top:20;
}
header ul li .action-btn{
    font-size: 15px;
    background-color: #00dfc4;
    color:#000;
    width:10vw;
    height:5vh;
    border:none;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.action-btn:hover{
    background-color: #6defe0;
}
header li a:hover{
    color:rgb(0, 136, 255);
    cursor: pointer;
}
header .menu-icon{
    display:none;
    position: absolute;
    right:15;
    top:15;
    font-size: 2rem;
    cursor: pointer;
}
header .menu-collapse{
    display: none;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10;
    top:70;
    z-index: 3;
    padding:15vh 33vw;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
header .menu-collapse ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
header .menu-collapse ul li, .nav-btn{
    text-align: center;
    width:10rem;
    font-family: "Anta", sans-serif;
    font-weight: 800;
}
header .menu-collapse ul li .collapse-btn{
    width:10rem;
    height:3rem;
}
.showMenu{
    display: block!important;
}
@media screen and (max-width:900px){
    header ul{
        display:none;
    }
    header .menu-icon{
        display: block;
    }
}
@media screen and (min-width:900px){
    header .menu-collapse{
        display:none!important;
    }
}