@import url('https://fonts.googleapis.com/css2?family=Anta&family=Coda:wght@400;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body::-webkit-scrollbar{
    width:0;
}
#reportPage{
    height:100%;
}
header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom:3px solid #00dfc4;
    padding:1rem 2rem;
}
header h2,h4{
    color:black;
}
header img{
    width:35vw;
    height:auto;
}
header div{
    display: grid;
    color:#ffff;
}
main{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10rem;
}
main h2{
    color:black;
    margin-top:1rem;
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: 10rem 20rem 15rem;
    border:1px solid black;
    align-items: center;
    margin-top: 1rem;
}
.info{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    align-items: center;
    justify-content: flex-start;
    border-right:1px solid black;
}
.info span{
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    font-size: 20px;
    width:19rem;
    padding:0.4rem 0.4rem;
}
.info:first-child{
    font-weight: 800;
}
span:last-child {
    border-bottom: none;
}
.xray-img{
    display:flex;
    justify-content: center;
    align-items: center;
}
.xray-img img{
    width:13rem;
    height:auto;
}
.container2{
    display: grid;
    grid-template-columns: 17rem 10rem 10rem 8rem;
    border:1px solid black;
    align-items: center;
    margin-top: 1rem;
}
.container2 .info span{
    font-size: 15px;
}
.container2 .info:last-child{
    border-right:0;
}
.container2 .nmd span{
    width:17rem;

}
.container2 .stdValue span{
    width:15rem;
}
.container2 .currValue span{
    width:15rem;
}
.container2 .riskStatus span{
    width:7.3rem;
}
main p{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top:.5rem;
    color:red;
}