@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@font-face {
    font-family: "robotoregular";
    src: url(../fonts/roboto-regular-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 0;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.home video {
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scaleX(1.5);
    -webkit-transform: scaleX(1.5);
    -moz-transform: scaleX(1.5);
    -ms-transform: scaleX(1.5);
    -o-transform: scaleX(1.5);
}

.infoPage {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    height: 30vh;
    width: 100vw;
}

.infoPage h1,
p,
a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffff;
}

.infoPage h1 {
    margin-top: 3vh;
}

.lg {
    position: absolute;
    bottom: 130;
}

.links {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 80;
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
    width: 100%;
    column-gap: 2vw;
}

.links a {
    text-decoration: none;
    color: #ffff;
    margin-bottom: 1vh;
}

.infoLine {
    position: absolute;
    bottom: 10;
}
.wh{
    background-color: #000;
}
.wh h2{
    text-align: center;
    text-transform: uppercase;
    color:#fff;
    word-spacing: 5px;
}
.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container .card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
}

.container .card .imgBx {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.2);
}

.container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .contentBx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}

.container .card .contentBx span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
